Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.html index.php
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{HTTPS} on 
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R,L]

	RewriteCond %{HTTPS} off 
	RewriteCond %{HTTP_HOST} ^(?:www\.)?(.*)$ [NC]
	RewriteRule (.*) https://%1%{REQUEST_URI} [L,R]
	
	RewriteCond $1 !^(index\.php|images|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /web/index.php
</IfModule>

<IfModule ssl_module>
	Satisfy Any
</IfModule>

# https://css-tricks.com/snippets/htaccess/set-expires/
# BEGIN EXPIRES
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 10 days"
	ExpiresByType text/css "access plus 1 week"
	ExpiresByType text/plain "access plus 1 month"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType application/x-javascript "access plus 1 month"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

# https://www.ionos.es/ayuda/hosting/htaccess/activar-la-compresion-gzip-mod-deflate/
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/shtml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>