
@font-face {
    font-family: "prueba";
    src: url("./fontawesome/webfonts/fa-brands-400.ttf");
}
 
body{
    margin: 0%;
    overflow-x: hidden;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #0008ff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
 /* ------------- HEADER -----------------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}
.header{
    background-image: url("./image/code.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
    margin: 0%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
}
.title{
    display: flex;
    flex-direction: column;
    color: white;
    font-size:80px;
    text-shadow: 4px 5px 6px black;
    position: absolute;
    left: 20%;
    top: -5%;
}
.letra {
    animation: letrasTitle 0.7s ease-in-out;
}
.letra2{
    font-size:20px
}
.l2 {
    position: absolute;
    top:30%;
}
.l3 {
    position: absolute;
    top:60%;
}
.l1::first-letter,.l2::first-letter,.l3::first-letter{
    font-size: 120px;
    color: rgba(63, 124, 255, 0.481);
}

@keyframes letrasTitle{
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-10px);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
.subtitle{
    color: whitesmoke;
    font-size: 50px;
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    top: 25%;
    left: 50%;
    text-align: center;
    animation: letrasSubtitle 0.6s linear;

}
@keyframes letrasSubtitle{
    0%{
        transform: translate(0px , -250%);
        
    }
    35%{
        transform:rotate(20deg)   
    }
    55%{
        translate:translate(0px , -75%); 
    }
    60%{
        transform:rotate(-15deg);
    }
    70%{
        transform:translate(0px , -75%);

    }
    85%{
        transform:rotate(10deg);     
    }
    90%{
        transform:rotate(-5deg);     
    }
    100%{
        transform: translate(0px , 0%);
    }
}

.subtitle2{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black, 3px 3px 3px rgba(255, 255, 255, 0.481), 0 0 3px gray;
    position: relative;
    top: 20%;
    animation: letrasSubtitle2 1s ease-out;
}
@keyframes letrasSubtitle2{
    0%{
        transform: translate(100% , 0px)rotate(10deg);
    }
    65%{
        transform: translate(-10% , 0px)rotate(-5deg);
    }
    85%{
        transform: translate(5% , 0px)rotate(2deg);
    }
    95%{
        transform: translate(-2% , 0px)rotate(-1deg);
    }
    100%{
        width: 100%;

    }
}

.title-nav{
    text-align: center;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.button{
    width: 100%;
    border: none;
    background-color: #0f1d3a;
    color:whitesmoke;
}
.button:hover{
    background-color: #1b2f55;
    transition:background-color 1s 0s linear;
    cursor: pointer;
}
.button-active{
    background-color: #1b2f55;
}
.grid {
    display: grid;
    grid-column: auto;
}

.contenido{
    background-color: #0f1d3a;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px 10px black;
    border: none;
}
.contenido:hover{
    background-color: #1b2f55;
    transition:background-color 1s 0s linear ;
}


 /* ------------- PORTFOLIO -----------------*/

.port-content{
    background-color: #1b2f55;
    display: none;
    flex-direction: column;
}
.content-order-in-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-port{
    display: grid;
    border-radius: 10px;
    width: 40%;
    margin: 15px 0px 15px 0px;
    align-content: center;
    justify-items: center;
    background-color: #254682;
    box-shadow: 1px 1px 15px #00040D;
}
.img-port{
    width: 90%;
    box-shadow: 1px 1px 15px #00040D;
} 
.img-port:hover{
    animation: portContent 0.3s ease-in 0s;
    animation-fill-mode: forwards;
}
@keyframes portContent{
    from{transform: scale();}
    to{transform: scale(1.05);}
}
.title-port{
    font-family:'Courier New', Courier, monospace;
}
.card-port p {
    padding: 5px 30px 5px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.line{
    border-bottom: 1px solid whitesmoke;
    width: 70%;
}
.icons-p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.activo{
    display: flex;
}
.overlay img{
    width: 100%;  
}
.contenedor-img{
    position: relative;
    display: flex;
    
    justify-content: center;
    animation: gifContent 1s ease-in;
}
@keyframes gifContent{
    0%{
        transform: scale(0.6);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
.img-icon-p{
    width: 2.7em;
}
[data-detail]{ 
    position:relative; 
    cursor:pointer;
    text-align: center;
    }
[data-detail]::before {
    content : attr(data-detail);
    background-color:rgba(0,0,0,.75);
    color:white;
    -webkit-font-smoothing: antialiased;
    padding:10px;
    height:auto;
    border-radius:3px;
    display:none;
    position:absolute;
    bottom:25px;
    left:50%;
    pointer-events: none;
    z-index:99;
}
[data-detail]::after{
    content:"";
    height:1px;
    width:1px;
    border:10px solid transparent;
    border-top-color:rgba(0,0,0,.75);
    position:absolute;
    bottom:4px;
    left:50%;
    display: none;
}
    [data-detail]:hover::before,
    [data-detail]:hover::after
    { display:block;} 

 /* ------------- SKILL -----------------*/


.skill-content{
    background-color: #1b2f55;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
@keyframes animationOpen{
    0%{
        clip-path: inset(0 0 100% 0);
    }  
    100%{
       
        clip-path: inset(0 0 0 0);
    }
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 2% 10% 2% 10%;
    background-color: #254682;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #00040D;
}
.card-content:hover{
    animation:cardAnimation 0.3s ease-in 0s ;
    animation-fill-mode: forwards;   
}
@keyframes cardAnimation{
    from{
        transform: scale();
    }
    to{
        transform: scale(1.3);
    }
}
.php-icon{
    color: darkblue;
}
.html-icon{
    color: orangered;
}
.css-icon{
    color:lightseagreen;
}
.js-icon{
    color:orange;
}
.python-icon{
    width: 65px;
    height: 65px;
}
.react-icon{
    color:aqua
}
.mysql-icon{
    width: 63px;
    height: 65px;
}
.bootstrap-icon{
    color: purple
}
.english-icon{
    color: rgb(31, 34, 34)
}
 /* ------------- EXPERIENCE -----------------*/

.exp-content{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    box-shadow: 1px 1px 15px #00040D;
}
.exp-card{
    display: grid;
    border-radius: 10px;
    width: 40%;
    margin: 15px 0px 15px 0px;
    align-items: center;
    justify-items: center;
    background-color: #254682;
    box-shadow: 1px 1px 15px #00040D;
}
.img-exp{
    width: 70%;
    box-shadow: 1px 1px 15px #00040D;
}
.exp-card p {
    padding: 5px 30px 5px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.exp-card a {
    text-decoration: none;
    color: white;
}
 /* ------------- CONTACT -----------------*/

.contact-content{
    background-color: #1b2f55;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icons-content{
    align-items: center;
    background-color: #091f49 ;
    border-radius: 70px;
    padding: 20px;
    box-shadow: 1px 1px 7px black;
    margin: 20px;
}
.wpp-icon{
    color:green;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 4px;
}
.telegram-icon{
    color: white;
    background-color: rgb(40, 38, 44);
    padding: 5px;
    border-radius: 4px;
}
.mail-icon{
    color:rgb(0, 100, 208);
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 4px;
}
.linkedin-icon{
    color:darkblue;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
}
.icons-content:hover{
    animation: icono 1s ease-out;
}
@keyframes icono{
    from{
        transform: rotate3d(0,0,0,0);
    }
    to {
        transform: rotate3d(0,1,0,360deg);
    }
}

 /* ------------- FOOTER -----------------*/

.footer{
    background-color: #00040D;
    padding: 25px;
}
.content-footer{
    text-align: center;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
#particles-js {
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(14, 7, 38, 0.597);
}

 /* ------------- RESPONSIVE -----------------*/

@media (max-width:1370px) {
    .title{font-size: 70px;}
    .subtitle{
        font-size: 40px;
        left: 50%;
    }
    .subtitle2{
        top: 20%;
    }

}
@media (max-width:650px) {
    
    .title{
        font-size: 55px;
        left: 1%;
        top: -5%;
    }
    .subtitle{
        font-size: 20px;
        top: 50%;
        left: 50%;
        margin-left: -50%;
        width: 100%;
    }
    .subtitle2{
        font-size: 20px;
        top: 20%;
    }
    .l1::first-letter,.l2::first-letter,.l3::first-letter{
        font-size: 90px;
        color: rgba(63, 124, 255, 0.481);
    }
    .letra2{
        font-size:12px
    }
    .contact-content{font-size: 13px;}
    .card-content{
        width: 70px;
        height: 70px;
        font-size: 10px;
        margin: 1% 8% 1% 8%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .python-icon, .mysql-icon{
        width: 35px;
        height: 35px;
    }
    .content-footer{font-size: 10px;}
    .card-port p, .exp-card p{
        font-size: 10px;
        padding: 3%;
    }
    .card-port{width: 70%;}
    .title-port{font-size: 15px;text-align: center;}
    .icons-p{
        display: grid;
        grid-template-columns:repeat(2,15%);
        }
    .overlay img{
        width: 90%;
        max-width: 100%;
    }
    .exp-card{
        width: 70%;
        font-size: 10px;
        margin: 1% 8% 1% 8%;
    }
}
